html{
	background:url(http://orig10.deviantart.net/53ee/f/2012/038/b/7/crystal_by_sandara-d4p0mns.jpg) no-repeat center center fixed;
	- moz -background-size: cover;
	-o -background-size: cover;
	background-size: cover;
}

h1{
	color:orange;
	font-weight: bold;
	padding:20px;
	font-size: 60px;
}



p{
	line-height: 50px;
	text-decoration-color: green;
	color :white;
}
.crystal{
	border: 1px solid green;
     height:200px;
	width: 200px;
}
.crystals{
	display: flex;
	justify-content:space-around;
	
	align-items: center;

}
img{
	width:30px;

}

	